<plugin
	id="br.ufes.inf.ontoumlplugin"
	name="OntoUML Visual Paradigm Plugin"
	description="OntoUML plugin for Visual Paradigm"
	provider="Marcus Sales"
	class="br.ufes.inf.ontoumlplugin.OntoUMLPlugin">
   <runtime>
      <library path="lib/menthor-refontouml.jar" relativePath="true" />
      <library path="lib/org.eclipse.emf.common_2.12.0.v20160420-0247.jar" relativePath="true"/>
      <library path="lib/org.eclipse.emf.ecore_2.12.0.v20160420-0247.jar" relativePath="true"/>
      <library path="lib/org.eclipse.emf.ecore.xmi_2.12.0.v20160420-0247.jar" relativePath="true"/>
      <library path="lib/org.eclipse.ocl_3.6.0.v20160523-1914.jar" relativePath="true" />
      <library path="lib/lpg.runtime.java_2.0.17.v201004271640.jar" relativePath="true" />
      <library path="lib/org.eclipse.ocl.common_1.4.0.v20160521-2033.jar" relativePath="true" />
      <library path="lib/org.eclipse.ocl.ecore_3.6.0.v20160523-1914.jar" relativePath="true" />
      <library path="lib/org.eclipse.ocl.edit_4.0.200.v20150611-1921.jar" relativePath="true" />
      <library path="lib/org.eclipse.ocl.uml_5.2.0.v20160521-2033.jar" relativePath="true" />
      <library path="lib/reactive-streams-1.0.0.jar" relativePath="true" />
      <library path="lib/rxjava-2.1.0.jar" relativePath="true" />
      <library path="lib/rxjava-reactive-streams-1.2.1.jar" relativePath="true" />
      <library path="lib/BrowserLauncher2-all-1_3.jar" relativePath="true"/>
       <library path="lib/menthor-ocl.jar" relativePath="true" />
       <library path="lib/menthor-alloy.jar" relativePath="true" />
       <library path="lib/menthor-ontouml2alloy.jar" relativePath="true" />
       <library path="lib/alloy4.2.jar" relativePath="true" />
   </runtime>
	
	<actionSets> 
 
    <actionSet id="br.ufes.inf.ontoumlplugin.actionset"> 
      <toolbar 
          id="br.ufes.inf.ontoumlplugin.actions.toolbar1" 
          orientation="north" 
          index="last"/>
        <action
                id="br.ufes.inf.ontoumlplugin.actionset.AddOntoUMLStereotypesAction"
                actionType="generalAction"
                label="Add OntoUML Stereotypes to Project"
                tooltip="Add OntoUML stereotypes to current project"
                style="normal"
                icon="icons/add.png"
                toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/#">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.AddOntoUMLStereotypesController"/>
        </action>
        <action
                id="br.ufes.inf.ontoumlplugin.actionset.LoadOntoUMLModelAction"
                actionType="generalAction"
                label="Load OntoUML Model"
                tooltip="Load RefOntoUML File"
                style="normal"
                icon="icons/import_file.png"
                toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/br.ufes.inf.ontoumlplugin.actionset.AddOntoUMLStereotypesAction">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.LoadOntoUMLModelController"/>
        </action>
        <action
                id="br.ufes.inf.ontoumlplugin.actionset.FillEmptyAssociationsAction"
                actionType="generalAction"
                label="Fill Empty Associations"
                tooltip="Set stereotypes to associations"
                style="normal"
                icon="icons/fill_empty_ass.png"
                toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/br.ufes.inf.ontoumlplugin.actionset.LoadOntoUMLModelAction">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.FillEmptyAssociationsController"/>
        </action>

        <action
              id="br.ufes.inf.ontoumlplugin.actionset.CheckOntoUMLModelAction"
              actionType="generalAction"
              label="Check OntoUML Model"
              tooltip="Execute a syntactic verification on the OntoUML Model"
              style="normal"
              icon="icons/validate.png"
              toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/br.ufes.inf.ontoumlplugin.actionset.FillEmptyAssociationsAction">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.CheckOntoUMLModelController"/>
        </action>
        <action
                id="br.ufes.inf.ontoumlplugin.actionset.AlloyTransformationAction"
                actionType="generalAction"
                label="Alloy Analyzer"
                tooltip="Use Alloy Analyzer to simulate your model"
                style="normal"
                icon="icons/alloy_button.png"
                toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/br.ufes.inf.ontoumlplugin.actionset.CheckOntoUMLModelAction">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.AlloyTransformationController"/>
        </action>
        <action
                id="br.ufes.inf.ontoumlplugin.actionset.ConvertModelToRefOntoUML"
                actionType="generalAction"
                label="Convert OntoUML Model to RefOntoUML"
                tooltip="Convert OntoUML model to RefOntoUML"
                style="normal"
                icon="icons/convert_file.png"
                toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/br.ufes.inf.ontoumlplugin.actionset.AlloyTransformationAction">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.ConvertModel2RefOntoUMLController"/>
        </action>
        <action
                id="br.ufes.inf.ontoumlplugin.actionset.OntoUMLSpecification"
                actionType="generalAction"
                label="OntoUML Specification"
                tooltip="Open OntoUML Elements Specification in the browser"
                style="normal"
                icon="icons/ontouml_spec.png"
                toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/br.ufes.inf.ontoumlplugin.actionset.ConvertModelToRefOntoUML">
            <actionController class="br.ufes.inf.ontoumlplugin.actions.OntoUMLSpecificationController"/>
        </action>
    </actionSet>
    
    <contextSensitiveActionSet
                id="br.ufes.inf.ontoumlplugin.contextSensitiveActionSet">
       <contextTypes>
           <include type="Class"/>
           <include type="ClassDiagram"/>
       </contextTypes>
       <action
	            id="br.ufes.inf.ontoumlplugin.actions.ContextCheckModel"
	            label="Check OntoUML Model"
	            style="normal"
	            menuPath="OpenSpecification">
	        <actionController class="br.ufes.inf.ontoumlplugin.actions.CheckOntoUMLModelController"/>
       </action>
    </contextSensitiveActionSet>
    
    <actionSet id="br.ufes.inf.ontoumlplugin.shapeActionSet">

        <action id="br.ufes.inf.ontoumlplugin.KindShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Kind»"
                tooltip="OntoUML Kind"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/Class">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.KindShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.SubKindShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «SubKind»"
                tooltip="OntoUML SubKind"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.KindShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.SubKindShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.RoleShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Role»"
                tooltip="OntoUML Role"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.SubKindShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.RoleShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.PhaseShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Phase»"
                tooltip="OntoUML Phase"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.RoleShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.PhaseShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.CollectiveShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Collective»"
                tooltip="OntoUML br.ufes.inf.ontoumlplugin.shapes.CollectiveShapeController"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.PhaseShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.CollectiveShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.QuantityShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Quantity»"
                tooltip="OntoUML Quantity"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.CollectiveShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.QuantityShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.CategoryShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Category»"
                tooltip="OntoUML br.ufes.inf.ontoumlplugin.shapes.CategoryShapeController"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.QuantityShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.CategoryShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.RoleMixinShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «RoleMixin»"
                tooltip="OntoUML RoleMixin"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.CategoryShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.RoleMixinShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.MixinShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Mixin»"
                tooltip="OntoUML Mixin"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.RoleMixinShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.MixinShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.RelatorShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Relator»"
                tooltip="OntoUML Relator"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.MixinShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.RelatorShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.ModeShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «Mode»"
                tooltip="OntoUML Mode"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.RelatorShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.ModeShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.NominalQualityShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «NominalQuality»"
                tooltip="OntoUML NominalQuality"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.ModeShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.NominalQualityShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.NonPerceivableQualityShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «NonPerceivableQuality»"
                tooltip="OntoUML NonPerceivableQuality"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.NominalQualityShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.NonPerceivableQualityShapeController"/>
        </action>

        <action id="br.ufes.inf.ontoumlplugin.PerceivableQualityShapeAction"
                actionType="shapeModelAction"
                label="OntoUML «PerceivableQuality»"
                tooltip="OntoUML PerceivableQuality"
                icon="icons/class.png"
                editorToolbarPath="com.vp.diagram.ClassDiagram/br.ufes.inf.ontoumlplugin.NonPerceivableQualityShapeAction">
            <shapeModelCreatorInfo
                    controllerClass="br.ufes.inf.ontoumlplugin.shapes.PerceivableQualityShapeController"/>
        </action>

    </actionSet>
 
 
  </actionSets> 
	
</plugin>
