<plugin
	id="br.ufes.inf.ontoumlplugin"
	name="OntoUML Visual Paradigm Plugin"
	description="OntoUML plugin for Visual Paradigm"
	provider="Marcus Sales"
	class="br.ufes.inf.ontoumlplugin.OntoUMLPlugin">
   <runtime>
      <library name="lib/RefOntoUml.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/org.eclipse.emf.common_2.12.0.v20160420-0247.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/org.eclipse.emf.ecore_2.12.0.v20160420-0247.jar">
         <export
               name="*">
         </export>
      </library>
      <library name="lib/org.eclipse.emf.ecore.xmi_2.12.0.v20160420-0247.jar">
         <export
               name="*">
         </export>
      </library>
   </runtime>
	
	<actionSets> 
 
    <actionSet id="br.ufes.inf.ontoumlplugin.actionset"> 
      <toolbar 
          id="br.ufes.inf.ontoumlplugin.actions.toolbar1" 
          orientation="north" 
          index="last"/> 
      <action 
          id="br.ufes.inf.ontoumlplugin.actionset.ValidateOntoUMLModelAction" 
          actionType="generalAction" 
          label="Validate OntoUML Model" 
          tooltip="Validate OntoUML Model" 
          style="normal" 
          toolbarPath="br.ufes.inf.ontoumlplugin.actions.toolbar1/#"> 
        <actionController class="br.ufes.inf.ontoumlplugin.actions.ValidateOntoUMLModelController"/> 
      </action> 
    </actionSet> 
 
 
  </actionSets> 
	
</plugin>
